{% extends 'LexikCrudBundle:CRUD:form.html.twig' %}

{% set fullscreen = true %}
{% set activeMenu = 'city' %}

{% block form_fields %}

    <fieldset>
        <legend>{% if object.id %}Edition de ville{% else %}Nouvelle ville{% endif %}</legend>
        {{ form_row(form.article) }}
        {{ form_row(form.name) }}
        {{ form_row(form.zipcode) }}
        {{ form_row(form.departement) }}
        {{ form_row(form.latitude) }}
        {{ form_row(form.longitude) }}
    </fieldset>

    {{ form_rest(form) }}

{% endblock form_fields %}
