{% extends 'LexikCrudBundle:CRUD:list.html.twig' %}

{% set activeMenu = 'city' %}

{% block batch_action %}{% endblock batch_action %}
{% block datagrid_table_thead_batch_actions %}{% endblock datagrid_table_thead_batch_actions %}
{% block datagrid_table_batch_actions %}{% endblock datagrid_table_batch_actions %}

{% block datagrid_title %}
    <h3>Villes</h3>
{% endblock %}

{% block datagrid_table_thead %}
    {{ crud.sort_column(crud_name, 'name', 'Nom') }}
    {{ crud.sort_column(crud_name, 'zipcode', 'Code postal') }}
    {{ crud.sort_column(crud_name, 'departement', 'Département') }}
{% endblock datagrid_table_thead %}

{% block datagrid_table_tbody %}
    <td>
        <b>{{ object.fullname }}</b>
    </td>
    <td>{{ object.zipcode }}</td>
    <td>{{ object.departement.name }}</td>
{% endblock datagrid_table_tbody %}

{% block datagrid_table_actions_inner %}
    {{ block('datagrid_table_actions_edit') }}
    {{ block('datagrid_table_actions_delete') }}
{% endblock datagrid_table_actions_inner %}
